---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [ ]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [1]:
import pandas as pd
import numpy as np

In [2]:
def separateStateRegionValues(x):
    global curStateName
    
    #print(x[0])
    if (x[0].endswith('[edit]')):
        curStateName = x[0].replace('[edit]','')
        return np.NAN
    else:
        regionName = x[0].split(' (')[0]
        #print({'State': curStateName, 'RegionName': regionName})
        return {'State': curStateName, 'RegionName': regionName}

def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    df = pd.read_csv('course1_downloads/university_towns.txt', sep='\n', header=None)
                                 
    
    return (df.apply(separateStateRegionValues, axis=1)
             .dropna()
             .apply(pd.Series))[['State','RegionName']]

In [86]:
%%timeit -n 1 
get_list_of_university_towns()

142 ms ± 22.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [4]:
df = pd.read_excel('gdplev.xls', skiprows=219, usecols='E,G', names=['Quarter','GDP'])

prevGDP = np.NAN
prevQGDPDecline = False
prevQGDPRise = True

def processrow(row):
    global prevGDP
    if (prevGDP != np.NAN):
        if row['GDP'] <= prevGDP:
            row['GDPDecline'] = True
        elif row['GDP'] > prevGDP:
            row['GDPDecline'] = False
    prevGDP = row['GDP']
    return row
df.apply(processrow,axis=1)

   Quarter      GDP  GDPDecline
0   2000q1  12359.1        True
1   2000q2  12592.5       False
2   2000q3  12607.7       False
3   2000q4  12679.3       False
4   2001q1  12643.3        True
5   2001q2  12710.3       False
6   2001q3  12670.1        True
7   2001q4  12705.3       False
8   2002q1  12822.3       False
9   2002q2  12893.0       False
10  2002q3  12955.8       False
11  2002q4  12964.0       False
12  2003q1  13031.2       False
13  2003q2  13152.1       False
14  2003q3  13372.4       False
15  2003q4  13528.7       False
16  2004q1  13606.5       False
17  2004q2  13706.2       False
18  2004q3  13830.8       False
19  2004q4  13950.4       False
20  2005q1  14099.1       False
21  2005q2  14172.7       False
22  2005q3  14291.8       False
23  2005q4  14373.4       False
24  2006q1  14546.1       False
25  2006q2  14589.6       False
26  2006q3  14602.6       False
27  2006q4  14716.9       False
28  2007q1  14726.0       False
29  2007q2  14838.7       False
..     ...      ...         ...
36  2009q1  14375.0        True
37  2009q2  14355.6        True
38  2009q3  14402.5       False
39  2009q4  14541.9       False
40  2010q1  14604.8       False
41  2010q2  14745.9       False
42  2010q3  14845.5       False
43  2010q4  14939.0       False
44  2011q1  14881.3        True
45  2011q2  14989.6       False
46  2011q3  15021.1       False
47  2011q4  15190.3       False
48  2012q1  15291.0       False
49  2012q2  15362.4       False
50  2012q3  15380.8       False
51  2012q4  15384.3       False
52  2013q1  15491.9       False
53  2013q2  15521.6       False
54  2013q3  15641.3       False
55  2013q4  15793.9       False
56  2014q1  15747.0        True
57  2014q2  15900.8       False
58  2014q3  16094.5       False
59  2014q4  16186.7       False
60  2015q1  16269.0       False
61  2015q2  16374.2       False
62  2015q3  16454.9       False
63  2015q4  16490.7       False
64  2016q1  16525.0       False
65  2016q2  16583.1       False

[66 rows x 3 columns]

In [70]:
df.shape[0]

66

In [5]:
def get_recession():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    df = pd.read_excel('gdplev.xls', skiprows=219, usecols='E,G', names=['Quarter','GDP'])
    
    recession = False
    dfr=[]

    for index, row in df.iterrows():
        if (index == 0 or index == (df.shape[0]-1)):
            continue
        if (recession == False and(df.iloc[index-1]['GDP'] > df.iloc[index]['GDP'] > df.iloc[index+1]['GDP'])):
            recession = True
            rstart = df.iloc[index]
            #rstartIndex = index
            #print("rstart" + rstart)
        elif (recession == True and (df.iloc[index-1]['GDP'] < df.iloc[index]['GDP'] < df.iloc[index+1]['GDP'])):
            recession = False
            rend = df.iloc[index]
            #rendindex = index
            dfr.append((rstart, rend))
            #print("rend:" + rend)
    return dfr

In [23]:
get_recession()

[(Quarter     2008q3
  GDP        14891.6
  Name: 34, dtype: object, Quarter     2009q3
  GDP        14402.5
  Name: 38, dtype: object)]

In [6]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return get_recession()[0][0].Quarter
        
get_recession_start()

'2008q3'

In [7]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return get_recession()[0][1].Quarter

get_recession_end()

'2009q3'

In [8]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    r = get_recession()[0]
    start, end = r[0].name, r[1].name
    #print(start, end)
    
    rData = df.iloc[start:end+1]
    return rData.loc[rData['GDP'] == np.min(rData['GDP'])].iloc[0]['Quarter']

get_recession_bottom()

'2009q2'

In [18]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    hdf = pd.read_csv('City_Zhvi_AllHomes.csv')
    
    
    return hdf.groupby(['State','RegionName','CountyName']).mean()

convert_housing_data_to_quarters()

                                             RegionID  SizeRank   1996-04  \
State RegionName       CountyName
AK    Anchor Point     Kenai Peninsula          28124     10082       NaN
      Anchorage        Anchorage                23482        56       NaN
      Fairbanks        Fairbanks North Star     38465       839       NaN
      Homer            Kenai Peninsula          21909      6858       NaN
      Juneau           Juneau                    5365      1946       NaN
      Kenai            Kenai Peninsula          52742      3698       NaN
      Ketchikan        Ketchikan Gateway        32296      5151       NaN
      Kodiak           Kodiak Island            39281      3808       NaN
      Lakes            Matanuska Susitna       395445      5923       NaN
      North Pole       Fairbanks North Star     29910      1806       NaN
      Palmer           Matanuska Susitna        36906      1771       NaN
      Seward           Kenai Peninsula          54367      9565       NaN
      Soldotna         Kenai Peninsula          56812      3807       NaN
      Tanaina          Matanuska Susitna       102611      4384       NaN
AL    Adamsville       Jefferson                10040      5345   60200.0
      Alabaster        Shelby                   43839      1681  108400.0
      Albertville      Marshall                  8332      1562   67500.0
      Arab             Marshall                 35038      3088   75000.0
      Ardmore          Madison                  57107      5434       NaN
      Axis             Mobile                   23564      8800       NaN
      Baileyton        Cullman                  44007      9915       NaN
      Bay Minette      Baldwin                   3562      3031   66300.0
      Bayou La Batre   Mobile                   10284      9802   41000.0
      Bessemer         Jefferson                16997      2126       NaN
      Birmingham       Jefferson                10417       121   46000.0
      Boaz             Marshall                  3732      5094   66000.0
      Brent            Bibb                      3798      7768   79800.0
      Brighton         Jefferson                37574      7866       NaN
      Brookwood        Tuscaloosa                3842      6498   88600.0
      Buhl             Tuscaloosa               17223      9867   81300.0
...                                               ...       ...       ...
WI    Yorkville        Racine                  398781      5902  163000.0
WV    Belle            Kanawha                  37352      9576   46500.0
      Charleston       Kanawha                  17394       997   54600.0
      Chesapeake       Kanawha                 255379      9575       NaN
      Clendenin        Kanawha                  17470      6213       NaN
      Coal Fork        Kanawha                 255448     10456       NaN
      Cross Lanes      Kanawha                  51599      3994   77300.0
      Davisville       Wood                      4307      8840       NaN
      Dunbar           Kanawha                  29938      4859       NaN
      East Bank        Kanawha                  31305     10562       NaN
      Elkview          Kanawha                  35471      3492       NaN
      Eskdale          Kanawha                  31452      9873       NaN
      Marmet           Kanawha                  39642      9868       NaN
      Mineral Wells    Wood                     53347      9020   70700.0
      Nitro            Kanawha                  19636      5117       NaN
      Parkersburg      Wood                     40256       880   46500.0
      Saint Albans     Kanawha                  26898      4091   59000.0
      Sissonville      Kanawha                  27116      6283   50700.0
      South Charleston Kanawha                  16183      3785       NaN
      Upper Falls      Kanawha                  22925      9414   49900.0
      Vienna           Wood                      7685      3869   66000.0
      Washington       Wood                     41571      7341   73700.0
      Waverly          Wood                     30063      9585   59100.0
      Williamstown     Wood                     36969      5907   73000.0
WY    Bar Nunn         Natrona                  50851     10603       NaN
      Burns            Laramie                  23888     10092       NaN
      Casper           Natrona                   4002       576       NaN
      Cheyenne         Laramie                  44571       375       NaN
      Evansville       Natrona                  11364      9984       NaN
      Pine Bluffs      Laramie                  19945     10032       NaN

                                              1996-05   1996-06   1996-07  \
State RegionName       CountyName
AK    Anchor Point     Kenai Peninsula            NaN       NaN       NaN
      Anchorage        Anchorage                  NaN       NaN       NaN
      Fairbanks        Fairbanks North Star       NaN       NaN       NaN
      Homer            Kenai Peninsula            NaN       NaN       NaN
      Juneau           Juneau                     NaN       NaN       NaN
      Kenai            Kenai Peninsula            NaN       NaN       NaN
      Ketchikan        Ketchikan Gateway          NaN       NaN       NaN
      Kodiak           Kodiak Island              NaN       NaN       NaN
      Lakes            Matanuska Susitna          NaN       NaN       NaN
      North Pole       Fairbanks North Star       NaN       NaN       NaN
      Palmer           Matanuska Susitna          NaN       NaN       NaN
      Seward           Kenai Peninsula            NaN       NaN       NaN
      Soldotna         Kenai Peninsula            NaN       NaN       NaN
      Tanaina          Matanuska Susitna          NaN       NaN       NaN
AL    Adamsville       Jefferson              60800.0   61000.0   60500.0
      Alabaster        Shelby                108300.0  107800.0  107500.0
      Albertville      Marshall               67200.0   66900.0   66200.0
      Arab             Marshall               74600.0   74400.0   73900.0
      Ardmore          Madison                    NaN       NaN       NaN
      Axis             Mobile                     NaN       NaN       NaN
      Baileyton        Cullman                    NaN       NaN       NaN
      Bay Minette      Baldwin                66500.0   68100.0   69400.0
      Bayou La Batre   Mobile                 40300.0   40100.0   39600.0
      Bessemer         Jefferson                  NaN       NaN       NaN
      Birmingham       Jefferson              45900.0   45900.0   46000.0
      Boaz             Marshall               65600.0   65000.0   63500.0
      Brent            Bibb                   79900.0   80200.0   81000.0
      Brighton         Jefferson                  NaN       NaN       NaN
      Brookwood        Tuscaloosa             87100.0   86500.0   86800.0
      Buhl             Tuscaloosa             81000.0   81900.0   82800.0
...                                               ...       ...       ...
WI    Yorkville        Racine                162400.0  161200.0  159200.0
WV    Belle            Kanawha                45900.0   46100.0   46600.0
      Charleston       Kanawha                55500.0   55800.0   56100.0
      Chesapeake       Kanawha                    NaN       NaN       NaN
      Clendenin        Kanawha                    NaN       NaN       NaN
      Coal Fork        Kanawha                    NaN       NaN       NaN
      Cross Lanes      Kanawha                77300.0   76700.0   76400.0
      Davisville       Wood                       NaN       NaN       NaN
      Dunbar           Kanawha                    NaN       NaN       NaN
      East Bank        Kanawha                    NaN       NaN       NaN
      Elkview          Kanawha                    NaN       NaN       NaN
      Eskdale          Kanawha                    NaN       NaN       NaN
      Marmet           Kanawha                    NaN       NaN       NaN
      Mineral Wells    Wood                   70900.0   70500.0   69900.0
      Nitro            Kanawha                    NaN       NaN       NaN
      Parkersburg      Wood                   47200.0   47700.0   47900.0
      Saint Albans     Kanawha                58800.0   59000.0   59100.0
      Sissonville      Kanawha                51200.0   52100.0   52500.0
      South Charleston Kanawha                    NaN       NaN       NaN
      Upper Falls      Kanawha                50100.0   50000.0   49000.0
      Vienna           Wood                   66700.0   66900.0   66500.0
      Washington       Wood                   73700.0   75000.0   76300.0
      Waverly          Wood                   59800.0   60300.0   59300.0
      Williamstown     Wood                   74800.0   76600.0   77600.0
WY    Bar Nunn         Natrona                    NaN       NaN       NaN
      Burns            Laramie                    NaN       NaN       NaN
      Casper           Natrona                    NaN       NaN       NaN
      Cheyenne         Laramie                    NaN       NaN       NaN
      Evansville       Natrona                    NaN       NaN       NaN
      Pine Bluffs      Laramie                    NaN       NaN       NaN

                                              1996-08   1996-09   1996-10  \
State RegionName       CountyName
AK    Anchor Point     Kenai Peninsula            NaN       NaN       NaN
      Anchorage        Anchorage                  NaN       NaN       NaN
      Fairbanks        Fairbanks North Star       NaN       NaN       NaN
      Homer            Kenai Peninsula            NaN       NaN       NaN
      Juneau           Juneau                     NaN       NaN       NaN
      Kenai            Kenai Peninsula            NaN       NaN       NaN
      Ketchikan        Ketchikan Gateway          NaN       NaN       NaN
      Kodiak           Kodiak Island              NaN       NaN       NaN
      Lakes            Matanuska Susitna          NaN       NaN       NaN
      North Pole       Fairbanks North Star       NaN       NaN       NaN
      Palmer           Matanuska Susitna          NaN       NaN       NaN
      Seward           Kenai Peninsula            NaN       NaN       NaN
      Soldotna         Kenai Peninsula            NaN       NaN       NaN
      Tanaina          Matanuska Susitna          NaN       NaN       NaN
AL    Adamsville       Jefferson              60200.0   60400.0   60600.0
      Alabaster        Shelby                107300.0  107000.0  107200.0
      Albertville      Marshall               65600.0   65100.0   64800.0
      Arab             Marshall               73500.0   73800.0   74300.0
      Ardmore          Madison                    NaN       NaN       NaN
      Axis             Mobile                     NaN       NaN       NaN
      Baileyton        Cullman                    NaN       NaN       NaN
      Bay Minette      Baldwin                69500.0   68700.0   68500.0
      Bayou La Batre   Mobile                 39100.0   38700.0   38200.0
      Bessemer         Jefferson                  NaN       NaN       NaN
      Birmingham       Jefferson              46000.0   46100.0   46000.0
      Boaz             Marshall               62000.0   61000.0   60200.0
      Brent            Bibb                   82200.0   83100.0   83600.0
      Brighton         Jefferson                  NaN       NaN       NaN
      Brookwood        Tuscaloosa             87200.0   86600.0   85900.0
      Buhl             Tuscaloosa             82900.0   82500.0   82000.0
...                                               ...       ...       ...
WI    Yorkville        Racine                158200.0  157700.0  157000.0
WV    Belle            Kanawha                46600.0   46500.0   47100.0
      Charleston       Kanawha                55700.0   54800.0   54100.0
      Chesapeake       Kanawha                    NaN       NaN       NaN
      Clendenin        Kanawha                    NaN       NaN       NaN
      Coal Fork        Kanawha                    NaN       NaN       NaN
      Cross Lanes      Kanawha                75900.0   74900.0   74300.0
      Davisville       Wood                       NaN       NaN       NaN
      Dunbar           Kanawha                    NaN       NaN       NaN
      East Bank        Kanawha                    NaN       NaN       NaN
      Elkview          Kanawha                    NaN       NaN       NaN
      Eskdale          Kanawha                    NaN       NaN       NaN
      Marmet           Kanawha                    NaN       NaN       NaN
      Mineral Wells    Wood                   69600.0   69600.0   69600.0
      Nitro            Kanawha                    NaN       NaN       NaN
      Parkersburg      Wood                   48100.0   48400.0   48500.0
      Saint Albans     Kanawha                59000.0   58900.0   58500.0
      Sissonville      Kanawha                52300.0   52000.0   52500.0
      South Charleston Kanawha                    NaN       NaN       NaN
      Upper Falls      Kanawha                47400.0   46700.0   47100.0
      Vienna           Wood                   66300.0   66400.0   66500.0
      Washington       Wood                   76600.0   76800.0   77100.0
      Waverly          Wood                   58400.0   58100.0   57700.0
      Williamstown     Wood                   77700.0   77700.0   77500.0
WY    Bar Nunn         Natrona                    NaN       NaN       NaN
      Burns            Laramie                    NaN       NaN       NaN
      Casper           Natrona                    NaN       NaN       NaN
      Cheyenne         Laramie                    NaN       NaN       NaN
      Evansville       Natrona                    NaN       NaN       NaN
      Pine Bluffs      Laramie                    NaN       NaN       NaN

                                              1996-11   ...     2015-11  \
State RegionName       CountyName                       ...
AK    Anchor Point     Kenai Peninsula            NaN   ...      154700
      Anchorage        Anchorage                  NaN   ...      291600
      Fairbanks        Fairbanks North Star       NaN   ...      209700
      Homer            Kenai Peninsula            NaN   ...      240200
      Juneau           Juneau                     NaN   ...      319200
      Kenai            Kenai Peninsula            NaN   ...      206200
      Ketchikan        Ketchikan Gateway          NaN   ...      196700
      Kodiak           Kodiak Island              NaN   ...      256900
      Lakes            Matanuska Susitna          NaN   ...      243900
      North Pole       Fairbanks North Star       NaN   ...      206500
      Palmer           Matanuska Susitna          NaN   ...      241300
      Seward           Kenai Peninsula            NaN   ...      190900
      Soldotna         Kenai Peninsula            NaN   ...      219400
      Tanaina          Matanuska Susitna          NaN   ...      218400
AL    Adamsville       Jefferson              60400.0   ...       73900
      Alabaster        Shelby                107600.0   ...      151800
      Albertville      Marshall               64600.0   ...       91600
      Arab             Marshall               74700.0   ...      112500
      Ardmore          Madison                    NaN   ...      144200
      Axis             Mobile                     NaN   ...      109500
      Baileyton        Cullman                    NaN   ...       97200
      Bay Minette      Baldwin                68600.0   ...      121700
      Bayou La Batre   Mobile                 37600.0   ...       48900
      Bessemer         Jefferson                  NaN   ...       59500
      Birmingham       Jefferson              45900.0   ...       63200
      Boaz             Marshall               59600.0   ...       86700
      Brent            Bibb                   84400.0   ...       96000
      Brighton         Jefferson                  NaN   ...       45900
      Brookwood        Tuscaloosa             86300.0   ...      118400
      Buhl             Tuscaloosa             81200.0   ...      146400
...                                               ...   ...         ...
WI    Yorkville        Racine                155700.0   ...      244100
WV    Belle            Kanawha                47300.0   ...       75000
      Charleston       Kanawha                53600.0   ...      102300
      Chesapeake       Kanawha                    NaN   ...       66400
      Clendenin        Kanawha                    NaN   ...       81800
      Coal Fork        Kanawha                    NaN   ...       70800
      Cross Lanes      Kanawha                74000.0   ...      126900
      Davisville       Wood                       NaN   ...       63300
      Dunbar           Kanawha                    NaN   ...       77200
      East Bank        Kanawha                    NaN   ...       65800
      Elkview          Kanawha                    NaN   ...      101600
      Eskdale          Kanawha                    NaN   ...       65400
      Marmet           Kanawha                    NaN   ...       68700
      Mineral Wells    Wood                   70000.0   ...      120400
      Nitro            Kanawha                    NaN   ...       89200
      Parkersburg      Wood                   48200.0   ...       80800
      Saint Albans     Kanawha                58100.0   ...       97500
      Sissonville      Kanawha                53100.0   ...      101800
      South Charleston Kanawha                    NaN   ...      106200
      Upper Falls      Kanawha                47400.0   ...       92100
      Vienna           Wood                   66200.0   ...      106600
      Washington       Wood                   76800.0   ...      129600
      Waverly          Wood                   57200.0   ...      100000
      Williamstown     Wood                   76900.0   ...      129600
WY    Bar Nunn         Natrona                    NaN   ...      211500
      Burns            Laramie                    NaN   ...      164100
      Casper           Natrona                    NaN   ...      182300
      Cheyenne         Laramie                    NaN   ...      190500
      Evansville       Natrona                    NaN   ...      303900
      Pine Bluffs      Laramie                    NaN   ...      169600

                                             2015-12  2016-01  2016-02  \
State RegionName       CountyName
AK    Anchor Point     Kenai Peninsula        155800   156300   156200
      Anchorage        Anchorage              292100   293100   293900
      Fairbanks        Fairbanks North Star   209600   208800   208700
      Homer            Kenai Peninsula        241500   243300   243400
      Juneau           Juneau                 318900   318600   318600
      Kenai            Kenai Peninsula        207600   208800   209800
      Ketchikan        Ketchikan Gateway      196600   195700   195200
      Kodiak           Kodiak Island          256800   255600   254700
      Lakes            Matanuska Susitna      245400   248500   250800
      North Pole       Fairbanks North Star   206500   206400   206600
      Palmer           Matanuska Susitna      242900   245500   247000
      Seward           Kenai Peninsula        196200   199200   202900
      Soldotna         Kenai Peninsula        220500   222700   223900
      Tanaina          Matanuska Susitna      219800   221900   223500
AL    Adamsville       Jefferson               73500    73600    74100
      Alabaster        Shelby                 152400   152800   153400
      Albertville      Marshall                91500    91400    92000
      Arab             Marshall               112100   111000   109800
      Ardmore          Madison                143100   142200   142500
      Axis             Mobile                 109000   109600   110300

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"